@import "../../colors.scss";

.wrapper {
  min-height: 100vh;

  .contentContainer {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;

    .contentContainerInner {
      width: 100%;
      display: flex;
      align-items: center;

      @media screen and (min-width: $monitor) {
        max-width: $monitor;
      }

      .contentWrapper {
        width: 100%;

        @media screen and (min-width: $monitor) {
          width: 50%;
        }

        .titleWrapper {
          color: $primary;
          font-size: 20px;
          font-weight: 600;
          font-family: Arial;

          @media screen and (min-width: $monitor) {
            font-size: 32px;
          }
        }

        .form {
          margin-top: 20px;
          width: 100%;

          .inputWrapper {
            margin-bottom: 16px;
            display: block;
            width: 100%;

            @media screen and (min-width: $monitor) {
              display: flex;
              justify-content: space-between;
            }

            .label {
              margin-top: 4px;
              margin-bottom: 6px;
            }

            .input {
              width: 100%;

              @media screen and (min-width: $monitor) {
                width: 50%;
              }
            }
          }

          .cancelButton {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
