@use "@sass/media.module.scss" as media;

.contentContainer {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;

  .contentContainerInner {
    width: 100%;

    @include media.breakpoint("monitor") {
      max-width: var(--breakpoint-monitor);
    }
  }
}

.loaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
