@import "../../../../app/colors.module.scss";

.form {
  display: flex;
  justify-content: center;

  .iconWrapper {
    display: block;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    color: white;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    @media screen and (min-width: $phoneHorizontal) {
      display: none;
    }
  }
}
