@import "../../../colors.module.scss";

.wrapper {
  @include wrapper;

  .contentContainer {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;

    .contentContainerInner {
      width: 100%;

      @media screen and (min-width: $monitor) {
        max-width: $monitor;
      }

      .carousel {
        display: flex;
      }
    }

    .description {
      ul,
      ol {
        margin-left: 32px;
      }
    }
  }
}
