@import "@sass/media.module.scss";

.videoCarouselItem {
  padding: 6px;

  @include breakpoint("phone") {
    max-width: 100%;
  }

  @include breakpoint("phoneHorizontal") {
    max-width: calc(100% / 2 - 28px);
  }

  @include breakpoint("tabletVertical") {
    max-width: calc(100% / 3 - 28px);
  }

  @include breakpoint("tablet") {
    max-width: calc(100% / 4 - 28px);
  }

  .itemContent {
    width: 100%;
    border-radius: 8px;
    padding: 6px;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    a {
      text-decoration: none;
      color: black;
    }

    .videoTitle {
      margin-top: 4px;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none !important;
      word-wrap: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
