@import "../../app/colors.scss";

.videoCarouselItem {
  width: 350px;
  padding: 6px;

  .itemContent {
    width: 100%;
    border-radius: 8px;
    padding: 6px;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    a {
      text-decoration: none;
      color: black;
    }

    .thumbnail {
      position: relative;
      border-radius: 8px;
      overflow: hidden;

      .duration {
        position: absolute;
        bottom: 6px;
        right: 6px;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        font-weight: bold;
        padding: 2px;
        border-radius: 4px;
      }
    }

    .videoTitle {
      margin-top: 4px;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none !important;
      word-wrap: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
