@import "@sass/media.module.scss";

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  flex: 1 0 100%;
  @include breakpoint("phoneHorizontal") {
    flex: 1 0 40%;
  }

  @include breakpoint("tablet") {
    flex: 1 0 30%;
  }

  @include breakpoint("monitor") {
    flex: 1 0 30%;
  }

  .listItem {
    padding: 12px;
    border-radius: 8px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .name {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 8px;
    }

    .creator {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .creatorAvatar {
        margin-right: 10px;
      }
    }

    .videos {
      font-size: 16px;

      .desktopIcon {
        margin-left: 8px;
        margin-right: 18px;
      }
    }
  }
}
