.comment {
  margin-top: 20px;
  width: 100%;

  .authorInfo {
    .avatar {
      margin-right: 10px;
    }
    .authorName {
      margin-right: 10px;
    }
  }

  .text {
    margin-left: 40px;
  }
}
