@use "@sass/media.module.scss" as media;

.courseTitle {
  margin-bottom: 20px;

  .title {
    font-size: 24px;

    @include media.breakpoint("monitor") {
      font-size: 38px;
    }
  }

  .likeText {
    margin-right: 10px;
  }

  .authorButtons {
    display: flex;
    margin-bottom: 20px;

    .authorButtonWrapper {
      margin-right: 10px;
    }
  }
}
