@import "../../colors.scss";

.loginContainer {
  min-height: 100vh;
  height: 100vh;
  position: relative;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $tabletVertical) {
    width: 720px;
    flex-direction: row;
  }

  @media screen and (min-width: $tablet) {
    width: 1000px;
  }

  .divider {
    height: auto;
    border-inline-start-width: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    @media screen and (min-width: $tabletVertical) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .titleContainer {
    width: 100%;
    padding: 10px;

    .title {
      font-size: 52px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      font-weight: 600;

      a {
        text-decoration: none;

        .link {
          color: $secondary;
        }
      }
    }

    .content {
      margin-top: 8px;

      .contentParagraph {
        text-align: justify;
        color: white;
      }
    }
  }

  .formContainer {
    width: 100%;
    padding: 10px;

    .formTitle {
      text-align: center;
      margin-bottom: 20px;
      color: $secondary;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .inputWrapper {
      margin-bottom: 16px;
    }

    .submitButton {
      width: 100%;
    }

    .buttonsText {
      color: white;
      display: flex;
      justify-content: center;

      .link {
        padding-left: 6px;
        color: $primary;
      }
    }
  }
}
