// colors
$primary: #7b5ce7;
$secondary: #8e90f1;
$tertiary: #bacaf1;
$quaternary: #a1b7f0;

$greyText: #656565;

$error: #ff4d4f;
$disabled: #a1a1a1;


// breakpoints
$monitor: 1400px;
$tablet: 1200px;
$tabletVertical: 992px;
$phoneHorizontal: 768px;
$phone: 500px;
