@import "@sass/media.module.scss";

.typeCoursesList {
  flex: 1;
  padding: 10px;

  .breadcrumb {
    font-size: 32px;
  }

  .listItems {
    display: flex;
    flex-wrap: wrap;

    .emptyItem1 {
      flex: 1 0 100%;
      @include breakpoint("phoneHorizontal") {
        flex: 1 0 40%;
      }

      @include breakpoint("tablet") {
        flex: 1 0 30%;
      }

      @include breakpoint("monitor") {
        flex: 1 0 30%;
      }
    }

    .emptyItem2 {
      flex: 1 0 100%;
      @include breakpoint("phoneHorizontal") {
        flex: 1 0 40%;
      }

      @include breakpoint("tablet") {
        flex: 1 0 30%;
      }

      @include breakpoint("monitor") {
        flex: 1 0 30%;
      }
    }
  }
}
