@import "../../../colors.module.scss";

.wrapper {
  min-height: 100vh;
  .contentContainer {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;

    .contentContainerInner {
      width: 100%;

      @media screen and (min-width: $monitor) {
        max-width: $monitor;
      }

      .filters {
        display: flex;
        .filter {
          display: flex;
          align-items: center;
          margin-right: 20px;

          .text {
            margin-right: 4px;
          }
        }
      }

      .buttons {
        display: flex;

        .buttonWrapper {
          margin-right: 10px;
        }
      }
    }
  }
}
