.searchbar {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;

  & > div {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
