@import "@sass/media.module.scss";

.navbar {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);

  .navbarInner {
    padding: 4px;

    width: 100%;
    display: flex;
    align-items: center;

    @include breakpoint("monitor") {
      max-width: var(--breakpoint-monitor);
    }

    .buttonContainer {
      display: flex;
      flex-wrap: wrap;

      .button {
        margin-right: 6px;
      }
    }
  }
}
