@import "../../app/colors.module.scss";

.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
}
