@import "../../../../../colors.module.scss";

.wrapper {
  min-height: 100vh;

  .contentContainer {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;

    .contentContainerInner {
      width: 100%;

      @media screen and (min-width: $monitor) {
        max-width: $monitor;
      }

      .goBack {
        text-decoration: none;
        color: black;
        padding: 8px;
        border-radius: 4px;
        margin-bottom: 10px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }

        .goBackIcon {
          margin-right: 10px;
          margin-bottom: 2px;
        }

        .goBackText {
          font-size: 18px;
        }
      }
    }

    .authorActions {
      margin-top: 10px;
      display: flex;

      .deleteButton {
        margin-left: 10px;
      }
    }

    .videoInfo {
      .videoTitleWrapper {
        margin-top: 10px;
      }

      .authorAndViews {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
        }

        .author {
          display: flex;
          align-items: center;
          margin-right: 10px;
          padding: 6px;
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.3);
          }

          .authorName {
            margin-left: 10px;
            font-weight: 600;
            text-decoration: none;
          }
        }

        .videoViews {
          font-size: 14px;
        }

        .rate {
          display: flex;
          align-items: center;
          margin-left: 10px;

          .videoRating {
            margin-right: 4px;
          }
        }
      }
    }

    .divider {
      border-inline-start-width: 2px;
      background-color: $primary;
      height: 2px;
    }

    .commentsWrapper {
      .commentsHeaders {
        display: flex;

        .commentsTitle {
          margin-right: 20px;
        }

        .commentsSettings {
          width: 50%;

          .settingsWrapper {
            display: flex;

            .inputWrapper {
              margin-right: 10px;
            }
          }
        }
      }

      .commentAddWrapper {
        .commentAddForm {
          display: flex;

          .input {
            width: 100%;
            margin-right: 10px;
          }
        }
      }

      .comments {
        .loadMoreComments {
          margin-top: 10px;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
