@import "../../app/colors.module.scss";

.recommendedCourseLink {
  text-decoration: none;
  color: black;
  display: block;
  padding: 6px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 6px;
  max-width: 100%;

  @media screen and (min-width: $phone) {
    max-width: 100%;
  }

  @media screen and (min-width: $phoneHorizontal) {
    max-width: calc(100% / 2 - 28px);
  }

  @media screen and (min-width: $tabletVertical) {
    max-width: calc(100% / 3 - 28px);
  }

  @media screen and (min-width: $tablet) {
    max-width: 100%;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .recommendedCourse {
    display: block;

    @media screen and (min-width: $tablet) {
      display: flex;
    }

    .thumbnail {
      width: 100%;
      border-radius: 6px;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 6px;

      @media screen and (min-width: $tablet) {
        margin-left: 0;
        margin-right: 6px;
        margin-bottom: 0;
        max-width: 128px;
        width: 100%;
      }

      @media screen and (min-width: $monitor) {
        max-width: 128px;
        width: 100%;
        height: 72px;
      }

      .videoNotFoundImageWrapper {
        position: relative;
        width: 100%; /* or any dynamic width */
        padding-top: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
        .videoNotFoundImage {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.1);

          .playIcon {
            font-size: 40px;
          }
        }
      }
    }

    .info {
      .title {
        font-size: 20px;
        margin-bottom: 6px;
      }
      .author {
        color: $greyText;
        margin-bottom: 6px;
      }
    }
  }
}
