@use "@sass/media.module.scss" as media;

.wrapper {
  min-height: 100vh;
  padding-bottom: 38px;
  position: relative;

  .mainPage {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px;

    .mainPageInner {
      width: 100%;
      @include media.breakpoint("monitor") {
        max-width: var(--breakpoint-monitor);
      }
    }
  }
}
