@import "../../app/colors.module.scss";

.wrapper {
  @include wrapper;

  .mainPage {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px;

    .mainPageInner {
      width: 100%;
      @media screen and (min-width: $monitor) {
        max-width: $monitor;
      }
    }
  }
}
